<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <satispay>
        <model>Satispay\Satispay\Model\Method\Satispay</model>
        <title>Satispay</title>
        <active>0</active>
        <sandbox>0</sandbox>
        <finalize_unhandled_transactions>0</finalize_unhandled_transactions>
        <finalize_max_hours>4</finalize_max_hours>
      </satispay>
    </payment>
  </default>
</config>
