<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <satispay>
        <model>Satispay\Satispay\Model\Method\Satispay</model>
        <title>Satispay</title>
        <active>0</active>
        <sandbox>0</sandbox>
        <api_url>https://online.satispay.com</api_url>
        <sandbox_api_url>https://staging.online.satispay.com</sandbox_api_url>
        <enable_log>1</enable_log>
      </satispay>
    </payment>
  </default>
</config>
