<div
  class="payment-method"
  data-bind="css: {'_active': (getCode() == isChecked())}"
>
  <div class="payment-method-title field choice">
    <input
      type="radio"
      name="payment[method]"
      class="radio"
      data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"
    />
    <label class="label" data-bind="attr: {'for': getCode()}">
        <!-- Satispay Logo -->
        <img alt="Satispay" data-bind="attr: { src: getPaymentLogoImage() }"
             class="payment-icon" width="38px" height="24px">
        <!-- Satispay Logo -->
      <span data-bind="text: getTitle()"></span>
    </label>
  </div>

  <div class="payment-method-content">

    <div class="checkout-agreements-block">
      <!-- ko foreach: $parent.getRegion('before-place-order') -->
          <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>

    <div class="actions-toolbar">
      <div class="primary">
        <button
          class="action primary checkout"
          type="submit"
          data-bind="
            click: placeOrder,
            attr: {title: $t('Place Order')}
          "
        >
          <span data-bind="i18n: 'Place Order'"></span>
        </button>
      </div>
    </div>
  </div>
</div>
