<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="satispay" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Satispay</label>
        <comment>Satispay is mobile payment platform, independent from debit and credit card networks, usable by anybody with a bank account, acceptable by any merchants using any kind of devices and POS.</comment>
        <fieldset_css>complex satispay-section</fieldset_css>
        <frontend_model>Satispay\Satispay\Block\Adminhtml\System\Config\Fieldset</frontend_model>
        <attribute type="displayIn">recommended_solutions</attribute>

        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="title" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Title</label>
        </field>

        <field id="sandbox" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Sandbox</label>
          <comment>Set this to "Yes" to test payments</comment>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>

        <field id="activation_code" translate="button_label attribute" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
          <attribute type="button_label">Configure with an Activation Code</attribute>
          <attribute type="sandbox">0</attribute>
          <frontend_model>Satispay\Satispay\Block\Adminhtml\System\Config\ActivationCode</frontend_model>
          <depends>
            <field id="sandbox">0</field>
          </depends>
        </field>
        <field id="key_id" translate="label" type="hidden" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Key ID</label>
          <frontend_model>Satispay\Satispay\Block\Adminhtml\System\Config\Hidden</frontend_model>
          <depends>
            <field id="sandbox">0</field>
          </depends>
        </field>

        <field id="sandbox_activation_code" translate="button_label attribute" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
          <attribute type="button_label">Configure with a Sandbox Activation Code</attribute>
          <attribute type="sandbox">1</attribute>
          <frontend_model>Satispay\Satispay\Block\Adminhtml\System\Config\ActivationCode</frontend_model>
          <depends>
            <field id="sandbox">1</field>
          </depends>
        </field>
        <field id="sandbox_key_id" translate="label" type="hidden" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Sandbox Key ID</label>
          <frontend_model>Satispay\Satispay\Block\Adminhtml\System\Config\Hidden</frontend_model>
          <depends>
            <field id="sandbox">1</field>
          </depends>
        </field>
      </group>
    </section>
  </system>
</config>
